<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>Latin Quizer</display-name>

  <context-param>
    <param-name>spring.profiles.active</param-name>
    <param-value>production</param-value>
  </context-param>

  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <path>/</path>
      <http-only>true</http-only>
      <secure>false</secure>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <url-pattern>*.jspf</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
      <default-content-type>text/html</default-content-type>
    </jsp-property-group>
  </jsp-config>

  <context-param>
    <param-name>defaultHtmlEscape</param-name>
    <param-value>true</param-value>
  </context-param>
</web-app>